<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Change</title>
    <link rel="stylesheet" href="/css/style.css">
    
   </head>
<body>
    {{#if logged_in}}
    <nav>
        <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
    {{{ body }}}
</body>
</html>