<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pocket Change</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <header>
        <h1>&#x1F4B8 Pocket Change &#x1F4B8</h1>
        <nav>
            <a href="/">Home</a>
            {{#if loggedIn}}
            <a href="/userprofile">profile</a>
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>
   <div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <main>

    </main>

    {{#if logged_in}}

    <button class="btn" id="logout">logout</button>

    {{/if}}
    {{{body}}}

</body>

</html>