<div class="chartMenu">
  
  </div>
    <div class="chartCard">
      <div class="chartBox">
        <canvas id="myChart"></canvas>

       // NEED TO ADJUST,(THIS) SHOULD REFER TO barValue right now//
        <input id="barValue" onkeyup= "updateChart(this)" type="number">
        <input onkeyup= updateLable() type = text>
    
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script>
    // setup 
    const data = {
      labels: ['Income', 'Expensess', ],
      datasets: [{
        label: 'Budget-Report',
        data: [40,25, 15, 5],
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(0, 0, 0, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(0, 0, 0, 1)'
        ],
        borderWidth: 1
      }]
    };

    // config 
    const config = {
      type: 'bar',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    //FUNCTION TO UPDATE BAR VALUE//
function updateChart(barValue) {
  console.log(barValue.value)
  myChart.config.data.datasets[0].data[0] = barValue.value;
  myChart.update();
}

//Function to update lable, how can we utilize the user info here?
 function updateLable(labelName) {
  myChart.config.data.datasets[0].label = labelName.value;
  myChart.update();
}
    // Instantly assign Chart.js version
    const chartVersion = document.getElementById('chartVersion');
    chartVersion.innerText = Chart.version;

    </script>