<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{{name}}}!</h2>
    </div>
</div>


<aside>
        <h3>Your finances chart</h3>
        <div class="">

        </div>
    </aside>

