


<h2>Let's ch-Change your pockets!</h2>
<p>Simply "Login" OR "Sign-Up" below!</p>


  <div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form" action="/api/users/signup" method="POST">
      <div class="form-group">
        <label for="username-signup">Username:</label>
        <input class="form-input" type="text" id="username-signup" name="username" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" name="email" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" name="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>

{{> footer}}