{{> header}}

<h1>Welcome to Pocket Change!</h1>
<p>Let's ch-Change your pockets!</p>
<p>To be clear. This is just placeholder text, for our future much more awesome homepage / login page.</p>

{{> footer}}