<h3>Hello, {{ username }}</h3>

<div class="budgetreport-container">

    <div class="income-container">

        <h2>Income</h2>
        <form class="incomes-input">
            <div class="field">
                {{!-- ---FORM GROUP ADDED --}}
                <div class="form-group">
                    <label for="income-source-name" id="formTitle">Income Name:</label>
                    <input class="sourcename-input" type="text" id="income-source-name" name="income-source-name" />
                    <label for="income-source-amount" id="formTitle">Income Amount:</label>
                    <input class="amount-input" type="number" id="income-source-amount" name="income-source-amount" />
                    <span onclick="addField(this)" id="onclickButton">+</span>
                </div>
            </div>
        </form>
    </div>

    <div class="expenses-container">

        <h2>Expenses</h2>
        <form class="expenses-input">
            {{!-- ---FORM GROUP ADDED --}}
            <div class="form-group">
                <label for="expense-source-name" id="formTitle">Expense Name:</label>
                <input class="sourcename-input" type="text" id="expense-source-name" name="expense-source-name" />
                <label for="expense-source-name" id="formTitle">Expense Amount:</label>
                <input class="amount-input" type="number" id="expense-source-amount" name="expense-source-amount" />
                <span onclick="addFieldE(this)" id="onclickButton">+</span>
            </div>
        </form>
    </div>

    <div class="save-button">
        <button type="save" class="btn btn-primary" id="saveProfile">Save</button>
    </div>
</div>

<div class="chart - container"></div>

<script src="/js/userprofile.js"></script>

<div class="myChart-container"></div>
<!-- chart examples below, Incomplete and not yet dynamic they at least give us all an idea of what the code and output looks like -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/helpers.esm.min.js"></script>
<canvas id="incomeGraph" aria - label="chart" height="350" width="580"></canvas>
<canvas id="expenseGraph" aria - label="chart" height="350" width="580"></canvas>
<script>
    var chrt = document.getElementById("incomeGraph");
    var incomeGraph = new Chart(chrt, {
        type: 'bar',
        data: {
            labels: ["Jobby Job", "Uber", "eBay"],
            datasets: [{
                label: "Monthly Income",
                data: [6500, 750, 200],
            }],
        },
        options: {
            responsive: true,
        },
    });
</script>
<script>
    var chrt = document.getElementById("expenseGraph");
    var expenseGraph = new Chart(chrt, {
        type: 'bar',
        data: {
            labels: ["Car", "Rent", "Electricity", "Groceries"],
            datasets: [{
                label: "Monthly Expenses",
                data: [500, 1250, 145, 900],
            }],
        },
        options: {
            responsive: true,
         },
      });
   </script>