<div class = "budgetreport - container" >
    <div class = "incomes - container">
        <h2>Incomes</h2>
        <form class = "incomes-input">
            <label for="source-name">IncomeName:</label>
            <input class="sourcename-input" type="text" id="source-name" name="source-name" />
            <label for="source-name">IncomeAmount:</label>
            <input class="amount-input" type="number" id="source-amount" name="source-amount" />
        </form>
    </div>
    <div class = "expenses - container">
        <h2>Expenses</h2>
        <form class = "expenses-input">
            <label for="source-name">Expenses:</label>
            <input class="sourcename-input" type="text" id="source-name" name="source-name" />
            <label for="source-name">ExpenseAmount:</label>
            <input class="amount-input" type="number" id="source-amount" name="source-amount" />
        </form>
    </div>
    <div class = "myChart - container"
</div>