<div class = "budgetreport - container" >
    <div class = "incomes - container">
        <h2>Incomes</h2>
        <li></li>
    </div>
    <div class = "expenses - container">
        <h2>Expenses</h2>
    </div>
    <div class = "chart - container"
</div>